<div class="center jumbotron">
	<h1>Cratic</h1>
	<h2>
		Welcome to Cratic! A site for seriously discussing issues and creating bills to be voted on.
	</h2>
	<%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>
